@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Rancho', cursive;
}

/*remove the scrollbar from  browser*/
::-webkit-scrollbar{
  display: none;
}